<section class="contact">

<div class="container">    
    
    
<div class="row">    
    
    
<div class="col-md-4"></div>
    
    
<div class="col-md-4">    
 <br><br><br>
    
    <table class="table">
   
    <tbody>
      <tr>
        <td>Name:</td>
        <td>Uday Kiran Reddy Vatti</td>
        
      </tr>
        
        <tr>
        <td>Email:</td>
        <td>vuday23@gmail.com</td>
        
      </tr>
      <tr>
        <td>Address:</td>
        <td>919 Ridge Dr, #5-8, Dekalb, Illinois-60115</td>
       
      </tr>
      <tr>
        <td>Phone:</td>
        <td>4802332224</td>
        
      </tr>
        
        <tr>
            <td>
          <a class="fa fa-linkedin-square" style="font-size:36px" href="https://www.linkedin.com/in/vattiu/" target="_blank"></a> </td>
            <td>
            <a class="fa fa-github-square" style="font-size:36px" href="https://www.github.com/vatteu23" target="_blank"></a>
            </td>
        </tr>
        
        
    </tbody>
  </table>
    </div>    
    <div class="col-md-4">    </div>
    
</div>    
</div>
    
</section>