

<section class="homepage">

   <div class="container">
     
    <div class="row">
        
        <div class="col-sm-1">
            <br>
            
            <a class="fa fa-linkedin-square" style="font-size:36px" href="https://www.linkedin.com/in/vattiu/" target="_blank"></a><br><br>
            <a class="fa fa-github-square" style="font-size:36px" href="https://www.github.com/vatteu23" target="_blank"></a><br><br>
            
            
        
        
        </div>
        
      <div class="col-sm-4 profile">
        
        <img src="/images/IMG_7891.jpg" class="img-circle" alt="Cinque Terre" width="236" height="236">
        
        </div>
      
      <div class="col-sm-6">
        <br>
        <p align="justify">Uday Vatti is a Full Stack Developer with a demonstrated experience in designing and developing functional and technical User Interface designs for responsive applications based on client requirements. As an individual committed to constant learning, Vatti incorporates hands on skills with deep knowledge of AngularJS, JQuery, ASP .NET, Javascript, HTML5, CSS3. Vatti is  well versed in responsive design and develops applications that support mobile usage like jQuery Mobile, PhoneGap. With his strong core of fundamentals, detail-orientation and User Satisfaction focused approach, Vatti ensures the timely completion of each high quality project.
        </p>
          
          
        </div>
        <div class="col-sm-1"></div>
        
        
       
        
        
       
    </div>

    
   
    </div>
    
    
      <footer class="footer" >
        
          <img class="gif" src="/images/giphy.gif">
          
             </footer>  
</section>