<style>

</style>

<section class="profile">

<div class="container">    

    
<div class="row">

  

<div class="col-sm-5">
<h3>Full Stack Developer</h3>
<p align="justify">My background as a Full Stack Developer started from bachelors in Computer Science to being a
Research Assistant at Center for Governmental Studies while pursuing my Masters in Computer
Science at Northern Illinois University. Over the years I have gained expertise in web development
and web designing.
I am highly skilled with ASP.Net, HTML5, CSS3, JavaScript and jQuery. My experience with each of
these technologies made me eager to learn new technologies and sharpen my skillset. In addition to
web technologies, I do have a passion for mobile technologies as well. I've worked on a few mobile
side projects using jQuery Mobile, Android studio, xCode and phonegap where one can develop
application for three mobile platforms at once.
My analytical skills, eye for detail and user experience focused design process helped me satisfy the
user and receive appreciations.</p>    
</div>

    
<div class="col-sm-1"></div>  
<div class="col-sm-5">
    <br><br><br>
    
    <div class="box">
   <table class="table">
   
    <tbody>
      <tr>
        <td>Email:</td>
        <td>vuday23@gmail.com</td>
        
      </tr>
      <tr>
        <td>Address:</td>
        <td>919 Ridge Dr, #5-8, Dekalb, Illinois-60115</td>
       
      </tr>
      <tr>
        <td>Phone:</td>
        <td>4802332224</td>
        
      </tr>
        
        <tr>
        <td>
            <br>
        <a href="/images/resume.pdf" target="_blank" class="btn btn-primary" data-popup-open="popup-1">View Resume</a>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
    
    </div>
    
    


<div class="col-sm-1"></div>    
    
    
    
</div>
    
 <footer class="footer" >
        
          <img class="gif" src="/images/giphy.gif">
          
     
    </footer>  
</div>
    
    

</section>