<style>
    .row{
        margin-left: 20px;
        
    }
    .card-img-top{
        height:90px; width:200px;
        
    }
    
    
    .git{
        border: black solid 0.2px;
         height:40px; width:100px;
        margin-left: 50px;
    }
    
    .more{
        margin-left: 50px;
    }
    
    .fa{
        margin-left: 70px;
    }
    
</style>

<section class="projects">

<br> 
<div class="row">
    
    <div class="col-md-4">
        
            <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/images/angular.png" alt="Card image cap" >
      <div class="card-block">
        <h4 class="card-title">Student Portfolio</h4>
        <p class="card-text">Template for student portfolio using Angularjs 1.6, bootstrap, jQuery.</p>
        <a   href="https://github.com/vatteu23/Notes">
            <span class="fa fa-git-square" style="font-size:36px"></span>
        </a>
          
      </div>
    </div>
    
    
    </div>
    
    
    <div class="col-md-4">
    
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="/images/ajax.png" alt="Card image cap"  >
  <div class="card-block">
    <h4 class="card-title">Git Profile finder</h4>
    <p class="card-text">Find github profile based on user name using Javascript and AJAX.</p>
      <a   href="https://github.com/vatteu23/Notes">
            <span class="fa fa-git-square" style="font-size:36px"></span>
        </a>
    
  </div>
</div>
    
    
    </div>
    <div class="col-md-4">
    
    <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="/images/android-studio-logo.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Notes App</h4>
    <p class="card-text">Android application to save notes using android studio and SQLite.</p>
      <a   href="https://github.com/vatteu23/Notes">
            <span class="fa fa-git-square" style="font-size:36px"></span>
        </a>
    
  </div>
</div>
    
    
    
    </div>
    

    
</div>
    

<br>
<br>
<br>
    <div class="row">
    <div class="col-md-4"></div>
        
    <div class="col-md-4">
        
    <a href="#/list">
    <button type="button" class="more btn btn-info">
      <span class="glyphicon glyphicon-menu-down"></span> More Projects
    </button>
    </a>
    </div>
        
    <div class="col-md-4"></div>
  
    
    </div>
    

</section>